<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Login</title>
    <link rel="stylesheet" type="text/css" href="./adminLogin.css" />
    <link rel = "icon" href = 
"/vectors/isro_logo.svg" 
        type = "image/x-icon">
  </head>
  <body>
    <div id="particles-js"></div>
    <div class="container">
      <img class="logo" src="/vectors/isro_logo.svg" />

      <form id="loginForm" method="POST" action="/adminLogin" class="content">
        <div class="back-button" id="back-btn">
          <img class="left-arrow" src="/vectors/left_arrow.svg" />
          <span class="back-text">Back</span>
        </div>
        <div class="input-container">
          <span class="normal-text">Sign in</span>
          <input
            type="text"
            id="username"
            name="userName"

            placeholder="USERNAME"
            class="input-box"
          />
          <input
            type="password"
            id="password"

            name="password"
            placeholder="PASSWORD"
            class="input-box"
          />
        </div>
        <div class="signin-button" id="signin-btn">
          <span  class="signin-text">Sign in</span>
        </div>
      </div>
    </form>
    <script>
      var backBtn = document.getElementById("back-btn");
      backBtn.addEventListener("click", function () {
        window.location.assign("/");
      });

      var signinBtn = document.getElementById("signin-btn");
      var form = document.getElementById("loginForm");
      signinBtn.addEventListener("click", function () {
        const userName= document.getElementById("username");
        const password = document.getElementById("password");

        if(userName.value && password.value){
          form.submit();
        }
        if(!userName.value){
         if(!document.getElementById("userNameError")){
          userName.insertAdjacentHTML('afterend', '<p id="userNameError" style="color:red;">Please enter username</p>');
         }
      }else{
        document.getElementById("userNameError").remove();
      }
      if(!password.value){
if(!document.getElementById("passwordError")){
  password.insertAdjacentHTML('afterend', '<p  id="passwordError" style="color:red;">Please enter password</p>');
}
}else{
  document.getElementById("passwordError").remove();
      }
      });
    </script>
      <script src="https://threejs.org/examples/js/libs/stats.min.js"></script>
      <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
      <script>
        /* ---- particles.js config ---- */

        particlesJS("particles-js", {
          particles: {
            number: {
              value: 200,
              density: {
                enable: true,
                value_area: 800,
              },
            },
            color: {
              value: "#ffffff",
            },
            shape: {
              type: "circle",
              stroke: {
                width: 0,
                color: "#000000",
              },
              polygon: {
                nb_sides: 5,
              },
              image: {
                src: "img/github.svg",
                width: 100,
                height: 100,
              },
            },
            opacity: {
              value: 0.5,
              random: false,
              anim: {
                enable: false,
                speed: 1,
                opacity_min: 0.1,
                sync: false,
              },
            },
            size: {
              value: 3,
              random: true,
              anim: {
                enable: false,
                speed: 40,
                size_min: 0.1,
                sync: false,
              },
            },
            line_linked: {
              enable: true,
              distance: 150,
              color: "#ffffff",
              opacity: 0.4,
              width: 1,
            },
            move: {
              enable: true,
              speed: 6,
              direction: "none",
              random: false,
              straight: false,
              out_mode: "out",
              bounce: false,
              attract: {
                enable: false,
                rotateX: 600,
                rotateY: 1200,
              },
            },
          },
          interactivity: {
            detect_on: "canvas",
            events: {
              onhover: {
                enable: true,
                mode: "grab",
              },
              onclick: {
                enable: true,
                mode: "push",
              },
              resize: true,
            },
            modes: {
              grab: {
                distance: 140,
                line_linked: {
                  opacity: 1,
                },
              },
              bubble: {
                distance: 400,
                size: 40,
                duration: 2,
                opacity: 8,
                speed: 3,
              },
              repulse: {
                distance: 200,
                duration: 0.4,
              },
              push: {
                particles_nb: 4,
              },
              remove: {
                particles_nb: 2,
              },
            },
          },
          retina_detect: true,
        });
      </script>
  </body>
</html>
