<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel</title>
  </head>
  <link rel="stylesheet" href="/admin/styles.css" />
  <body>
    <script src="/admin/index.js"></script>
    <% if(success){ %>
    <div id="successContainer">
      <div class="closeBtn">
        <img src="/vectors/times-solid.svg" alt="close" />
      </div>
      <div class="successMsg">
        <h3>Files are successfully uploaded!</h3>
      </div>
    </div>
    <% } %>
    <section>
      <div class="nav">
        <div class="logo">
          <img src="/vectors/isro_logo.svg" alt="logo" />
        </div>
        <div class="adminName">
          <h2>Hello, <%= name %></h2>
        </div>
      </div>

      <form
        id="uploadForm"
        action="/admin"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="back-btn">
          <img src="/vectors/left_arrow.svg" alt="back-btn" />
          <span>Back</span>
        </div>
        <h1>Upload csv files</h1>
        <input
          style="display: none; opacity: 0"
          type="text"
          name="name"
          value="<%= name %>"
        />
        <div class="formDiv">
          <div>
            <input
              id="fileOne"
              class="inputfile"
              type="file"
              name="fileOne"
              required
              onchange="changeLabelName('One')"
            />
            <label for="fileOne">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="17"
                viewBox="0 0 20 17"
              >
                <path
                  d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"
                ></path>
              </svg>
              <span>Choose low energy cosmic sources</span>
            </label>
          </div>
          <div>
            <input
              id="fileTwo"
              class="inputfile"
              type="file"
              name="fileTwo"
              required
              onchange="changeLabelName('Two')"
            />
            <label for="fileTwo"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="17"
                viewBox="0 0 20 17"
              >
                <path
                  d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"
                ></path>
              </svg>
              <span> Choose high energy cosmic sources</span>
            </label>
          </div>
          <div>
            <input
              id="fileThree"
              class="inputfile"
              type="file"
              name="fileThree"
              required
              onchange="changeLabelName('Three')"
            />
            <label for="fileThree">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="17"
                viewBox="0 0 20 17"
              >
                <path
                  d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"
                ></path>
              </svg>
              <span>Choose astrosat file</span>
            </label>
          </div>

          <button type="submit">Upload</button>
        </div>
      </form>
    </section>
    <% if(success){ %>
    <script>
      document.querySelector("section").style.filter = "blur(5px)";
    </script>
    <% } %>
    <script>
      document.querySelector(".back-btn").addEventListener("click", () => {
        window.history.pushState({}, "", "/adminLogin");
        window.location.reload();
      });
      document.querySelector(".closeBtn").addEventListener("click", () => {
        document.getElementById("successContainer").style.display = "none";
        document.querySelector("section").style.filter = "blur(0)";
      });
    </script>
  </body>
</html>
