<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles/landingPage.css" />
  </head>
  <body>
    <div class='container'>
      <img class="logo" src='assets/vectors/isro_logo.svg'/>
      <div class="content">
        <div class="welcome">
          Welcome to,
        </div>
        <div class="caption">
          <span class="normal-text">Astrosat ISRO's</span>
          <span class="colored-text">Visualization</span>
          <span class="colored-text">Tool</span>
        </div>
        <div class="explore-button" id="explore-btn">
          <img class="explore-logo" src="assets/vectors/explore_logo.svg" alt="image"/>
          <div class="explore-text">Explore</div>
          <img class="right-arrow" src="assets/vectors/right_arrow.svg" alt="image"/>
        </div>
        <div class="admin-link" id="admin-link">
          are you an admin?
        </div>
      </div>
    </div>
  </body>
</html>
<script src="/assets/js/landingPage.js"></script>
