<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Visualizer</title>
    <link rel = "icon" href = 
"/vectors/isro_logo.svg" 
        type = "image/x-icon">
  </head>
  <body>
    <h1>Visualizer Two</h1>
  </body>
</html>
