
body{
    margin: 0;
}
#c {
    width: 100%;  /* let our container decide our size */
    height: 100%;
    display: block;
}
#container {
  position: relative;  /* makes this the origin of its children */
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#labels {
  position: absolute;  /* let us position ourself inside the container */
  left: 0;             /* make our position the top left of the container */
  top: 0;
  color: white;
}
#labels>div {
    position: absolute;  /* let us position them inside the container */
    left: 0;             /* make their default position the top left of the container */
    top: 0;
    /*cursor: pointer;     /* change the cursor to a hand when over us */
    font-size: large;
    user-select: none;   /* don't let the text get selected */
    text-shadow:         /* create a black outline */
      -1px -1px 0 #000,
       0   -1px 0 #000,
       1px -1px 0 #000,
       1px  0   0 #000,
       1px  1px 0 #000,
       0    1px 0 #000,
      -1px  1px 0 #000,
      -1px  0   0 #000;
      color: white;
  }
  /* #labels>div:hover {
    color: red;
  } */
  /* TOGGLE BUTTON */
  #center {
    position: absolute;  /* let us position them inside the container */
    left: 0;             /* make their default position the top left of the container */
    top: 0;
  }
  /* MODAL STYLING IS HERE */
  .modal {
    background-image: url("");
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition: opacity .5s;
  }
  .modal-header {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #b0e0e6;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 }
  
  /* Modal Content/Box */
  .modal-content {
    /*background-image: url("https://english.cdn.zeenews.com/sites/default/files/styles/zm_700x400/public/2014/12/08/300210-stars-4.jpg");*/
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
  
    width: 40%; /* Could be more or less, depending on screen size */
    border-radius: 8px !important;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .fade-scale {
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
  }
  
  .fade-scale.in {
    opacity: 1;
    transform: scale(1);
  }
  .card {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #d2d2dc;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
    -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
    box-shadow: 0px 0px 5px 0px rgb(161, 163, 164)
}

.card .card-body {
    padding: 1rem 1rem
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem
}

.title {
    font-size: 25px;
    font-weight: 300;
    margin-top: 17px;
    color: #544a26
  
}

.description {
    font-size: 14px;
    color: #867f64
}

.mt-30 {
    margin-top: 30px
}
.btn-center {
  margin-top: 200px
}

.btn:focus {
  outline: none
}

.btn {
  border-radius: 2px;
  text-transform: capitalize;
  font-size: 15px;
  padding: 10px 19px;
  cursor: pointer;
  color: #fff;
  width: 100%
}
.button {
    background-color: #00bfff;
    color: #FFFFFF;
    padding: 8px 20px;
    text-decoration:none;
    font-weight:bold;
    border-radius:5px;
    cursor:pointer;
}
