<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles/landingPage.css" />
  </head>
  <body>
    <div class="container">
        <div class="content">
            <div class="logo">
                <img src="/assets/images/isro_logo.png"/ class="isro-logo">
            </div>
            <div class="heading">
                WEB BASED VISUALIZATION TOOL FOR ASTROSAT OBSERVATIONS
            </div>
            <hr/>
            <div id="explore" class="explore-click">
                Explore
            </div>
        </div>
    </div>
  </body>
</html>
<script src="/assets/js/landingPage.js"></script>
